<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/commonhead") %>
  </head>

  <body class="bg-light">
    <div class="d-flex" id="wrapper">
      <%- include ("../partials/sidebar") %>
      <div class="page-content-wrapper w-100">
        <%- include ("../partials/header") %>
        <div class="container-fluid pt-3">
          <h1 class="mb-4 text-center">QR Code Image</h1>
          <%- include ("../partials/messages") %>
          <div class="row">
            <div class="col">
              <div class="actions-buttons mb-2 row">
                <div class="col-lg-2 mr-auto">
                  <div class="dropdown">
                  </div>
                </div>
                <div class="col-lg-2 ml-auto text-right">
                  <a href="/admin/qrcode/generate" class="btn btn-theme btn-sm">Generate QRCode</a>
                </div>
              </div>
              <div class="card p-3">
                <H1>Link of QRCode Image</H1>
                <H1 style="background-color: beige;"><%= filename%></H1>
              </div>
              <div class="card p-3">
                <img style="width: 200px; margin:auto" src="<%= filename%>">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include ("../partials/commonscripts") %>

    <script>
      $('.date-column').each(function (index, element) {
        $(element).text(moment($(element).text()).format('MM/DD/YYYY HH:mm'));
      });

      $('.btn-delete').click(function (e) {
        e.preventDefault();
        const url = $(this).attr('href');
        swal
          .fire({
            title: 'Are you sure?',
            text: 'You wont be able to recover this Order!',
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete Order!',
          })
          .then(function (result) {
            if (result.value) {
              window.location.href = url;
            }
          });
      });
    </script>
  </body>
</html>
